@import url(../css/fonts.css);

/* CUSTOM PROPS */

:root {
    --primary-orange: #F18128;
    --secondary-white: #fff;
    --links-orange: #ED8E00;
    --dark-blue: #040D1F;
    --Comfortaa: "Comfortaa";
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
}

/* Global styles */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
body{
    background-color: var(--dark-blue);
}

/* container */

.container {
    max-width: 1143px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* BTN */
.all-btn {
    display: inline-block;
    max-width: 166px;
    width: 100%;
    background-color: var(--primary-orange);
    border: 1px solid #000;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: #000;
    transition: .5s;
}

.all-btn:active {
    background-color: var(--dark-blue);
    color: var(--secondary-white);
    cursor: pointer;
}

/* TITLE */
.title {
    color: var(--primary-orange);
    font-family: var(--Comfortaa);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--primary-orange);
    width: max-content;
    margin-bottom: 52px;
}

.site-ads {
    display: block;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-white);
    column-gap: 24px;
}

.ads-text {
    max-width: 166px;
    width: 100%;
    font-family: var(--Comfortaa);
    font-size: 16px;
    font-weight: 400;
}

/*  Site header */
.site-header {
    background: #000;
    backdrop-filter: blur(7.5px);
}


.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    color: var(--secondary-white);
    display: flex;
    column-gap: 5px;
    align-items: flex-end;
    font-family: var(--Comfortaa);
    font-size: 18px;
    font-weight: 700;
}

.site-logo__image {
    width: 103px;
    height: 42px;
    object-fit: cover;
}

.nav {
    display: flex;
}


.nav-link {
    display: block;
    padding: 42px 12px;
    color: var(--secondary-white);
    font-family: var(--Montserrat);
    font-size: 14px;
    font-weight: 400;
    transition: .5s;
    position: relative;
}
.nav-link:hover{
    color: var(--links-orange);
}
.nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--links-orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
    border-radius: 23px 10px 0px 0px;
}
.nav-link:hover::after{
    width: 100%;  
}

/* Site-hero */
.site-hero {
    width: 100%;
    height: 640px;
    position: relative;
}
.site-hero__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}
.site-hero__content {
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 25, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 
.site-hero__title {
    font-family: var(--Montserrat);
    font-size: 64px;
    font-weight: 700;
    color: var(--secondary-white);
}
.site-hero__text {
    max-width: 570px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--Montserrat);
    text-align: justify;
}
.site-hero__button {
    display: flex;
    column-gap: 30px;
}
.site-hero__btn {
}
.all-btn {
}


/* Main */

.site-main {
}
.films {
}
.container {
}
.films-title {
}
.title {
}
.films-cards {
}
.films-card {
}
.films-card__image {
}
.films-card__content {
}
.films-card__link {
}
.fad {
}
.fa-play {
}
.fa-3x {
}
.films-card__icon {
}
.films-card__time {
}
.films-card__title {
}
.films-card__text {
}